
<div class="input-group" id={{id}} style="margin:7px">

  <span class="form-control">
      {{{creation_time}}}
  </span>

 

  <span class="input-group-addon">
    <div class="progress" style="margin-bottom:0px!important; width:300px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="70"
      aria-valuemin="0" aria-valuemax="100" style="width:{{percentage}}%"></div>
      <span>{{percentage_descriptor}}</span>
    </div>
  </span>

   <span class="input-group-addon">
  <a data-toggle="collapse" href="#collapse-{{id}}">Details</a>
  </span>
  

  <span class="input-group-btn">
      <a class="btn btn-primary {{#if download_link}}{{else}}disabled{{/if}}" role="button" href="{{download_link}}">
          <i class="fa fa-download"></i> Download
      </a>
  </span>
</div>
<div id="collapse-{{id}}" class="panel-collapse collapse">
  <div class="panel-body">More Info!</div>
</div>


    
